.app {
  display: flex;
  align-items: center;
  justify-content: center;

  // min-height: 100vh;

  color: white;
  text-align: center;
}
.app-logo {
  pointer-events: none;
  scale: 1.3;
  animation: app-logo-spin infinite 20s linear;

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.links {
  a {
    border-bottom: #fff solid 1px;
  }
}
