@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --tg-theme-bg-color: #fff;
  --tg-theme-text-color: #0a0a0a;
  --tg-theme-hint-color: #929292;
  --tg-theme-link-color: #207ae4;
  --tg-theme-button-color: #5bc8fb;
  --tg-theme-button-text-color: #fffeec;
  --tg-theme-secondary-bg-color: #f3f2f9;

  --default-font: -apple-system, "Vazirmatn";
}

body {
  margin: 0;
  padding: 20px 20px;

  font-family: "Vazirmatn", sans-serif;

  background: var(--tg-theme-secondary-bg-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
label,
span {
  font-family: "Vazirmatn", sans-serif;
}

.App-logo {
  pointer-events: none;
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.contentWrapper {
  box-sizing: border-box;
  margin: 5px 0;
  padding: 20px;

  color: var(--tg-theme-text-color) !important;

  background: var(--tg-theme-bg-color);
  border-radius: 10px;
}

.ant-input,
.ant-select,
.ant-select-item {
  background-color: unset !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
